<li class="category-nav__category" ...attributes>
  <div
    class="uk-link-reset {{if @selected "active"}}"
    tabindex="0"
    data-test-link
    {{on "click" this.loadCategory}}
  >
    <div class="uk-flex uk-flex-middle">
      <div>
        <FaIcon
          @icon="folder"
          @size="2x"
          class="uk-margin-right"
          data-test-icon
          {{set-style color=@category.color}}
        />
      </div>
      <div
        data-test-name
        data-test-category-id={{@category.id}}
      >
        {{@category.name}}
      </div>
    </div>
  </div>
</li>
