<label title={{@mark.name}} class="mark {{this.class}}" {{uk-tooltip @mark.name}}>
  <FaIcon @icon={{@mark.icon}} @fixedWidth={{true}} />
  <input
    type="checkbox"
    checked={{this.checked}}
    hidden
    {{on "input" this.toggle}}
  />
</label>