<label class="mark {{this.class}}">
  <FaIcon @icon={{@mark.icon}} @fixedWidth={{true}} />
  <input
    type="checkbox"
    checked={{this.checked}}
    hidden
    {{on "input" this.toggle}}
    data-test-add-mark={{@mark.id}}
  />
</label>
<div uk-dropdown class="uk-padding-small mark__info-box">
  <strong>{{@mark.name}}</strong>
  <MarkdownToHtml @markdown={{@mark.description}} />
</div>