<table
  class="uk-table uk-table-divider uk-table-striped uk-table-hover no-select document-list"
>
  <caption hidden>{{t "alexandria.document-list.name"}}</caption>
  <thead>
    <tr>
      {{#each-in @columns as |key settings|}}
        <th class={{if (eq key "title") "uk-table-expand"}}>
          {{#if settings.labelHidden}}
            <span hidden>
              {{t (concat "alexandria.document-list." settings.label)}}
            </span>
          {{else}}
            {{t (concat "alexandria.document-list." settings.label)}}
            {{#if settings.sort}}
              <FaIcon
                @icon="sort"
                @prefix="fas"
                @size="1x"
                @class="uk-margin-small-left"
                role="button"
                data-test-sort={{key}}
                {{on "click" (fn @setSort key)}}
              />
            {{/if}}
          {{/if}}
        </th>
      {{/each-in}}
    </tr>
  </thead>

  <tbody>
    {{#each @fetchedDocuments as |document|}}
      <DocumentListItem
        @columns={{@columns}}
        @document={{document}}
        @isSelected={{includes document.id (map-by "id" @selectedDocuments)}}
        @onClickDocument={{@onClickDocument}}
        @onDoubleClickDocument={{@onDoubleClickDocument}}
        @onDragStart={{@onDragStart}}
      />
    {{else}}
      <tr>
        <td colspan={{this.columnCount}}>
          <div class="uk-text-center uk-text-muted">
            {{t "alexandria.nothing-found"}}
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>