<table class="uk-table uk-table-divider uk-table-striped uk-table-hover document-list">
  <caption></caption>
  <thead>
    <tr>
      <th class="uk-table-shrink">
        Icon
      </th>
      <th>
        Title
        <FaIcon
          @icon="sort"
          @prefix="fas"
          @size="1x"
          @class="uk-margin-small-left"
          {{on "click" (fn @setSort "title")}}
          data-test-sort-title
          role="button"
        />
      </th>
      <th>
        Created
        <FaIcon
          @icon="sort"
          @prefix="fas"
          @size="1x"
          @class="uk-margin-small-left"
          {{on "click" (fn @setSort "createdAt")}}
          data-test-sort-title
          role="button"
        />
      </th>
      <th>
        Group
        <FaIcon
          @icon="sort"
          @prefix="fas"
          @size="1x"
          @class="uk-margin-small-left"
          {{on "click" (fn @setSort "createdByGroup")}}
          data-test-sort-title
          role="button"
        />
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each @fetchedDocuments as |document|}}
      <DocumentListItem
        @document={{document}}
        @onClickDocument={{@onClickDocument}}
      />
    {{/each}}
  </tbody>
</table>