{{yield this.showDialog}}

<UkModal
  @on-hide={{this.hideDialog}}
  @visible={{this.dialogVisible}}
  as |Modal|
>
  <Modal.header>
    <strong class="uk-modal-title">
      {{t "alexandria.document-delete-button.prompt.title"}}
    </strong>
  </Modal.header>

  <Modal.body>
    <p>
      {{t "alexandria.document-delete-button.prompt.message"
        title=@document.title
      }}
    </p>
  </Modal.body>

  <Modal.footer>
    <div class="uk-flex uk-flex-between">
      <UkButton
        @label={{t "alexandria.document-delete-button.prompt.cancel"}}
        @on-click={{this.cancel}}
        data-test-delete-cancel={{@document.id}}
      />

      <UkButton
        @color="primary"
        @label={{t "alexandria.document-delete-button.prompt.confirm"}}
        @on-click={{perform this.delete}}
        @loading={{this.delete.isRunning}}
        data-test-delete-confirm={{@document.id}}
      />
    </div>
  </Modal.footer>
</UkModal>
