<div
  class="uk-background-muted uk-border-left uk-width-xlarge uk-flex uk-flex-between uk-flex-column document-details {{
    unless @document "closed"
  }}"
  data-test-file-details
  ...attributes
  {{did-update this.resetState @document}}
>
  <div>
    <div class="uk-padding-small">
      <span
        class="document-title uk-flex uk-flex-between uk-margin-bottom uk-flex-middle"
      >
        <span
          class="uk-flex uk-flex-middle uk-width-1"
          data-test-title-container
          {{set-style cursor="text"}}
        >
          <span>
            <FaIcon
              @icon="file-alt"
              @prefix="far"
              class="uk-margin-small-right"
              data-test-title-icon
              {{set-style color=@document.category.color}}
            />
          </span>
          {{#if this.editTitle}}
            <input
              class="uk-input uk-width-1"
              type="text"
              placeholder={{t "alexandria.document-details.name-placeholder"}}
              value={{@document.title}}
              data-test-title-input
              {{on "input" this.updateDocumentTitle}}
            />
            <span>
              <a
                href="#"
                class="uk-icon-button {{
                  unless this.validTitle "uk-disabled"
                }} cursor-pointer"
                uk-icon="icon: check"
                data-test-save
                {{on "click" (perform this.saveDocument)}}
              ></a>
            </span>
          {{else}}
            <a
              href="#"
              class="uk-width-1 uk-link-reset"
              data-test-title
              {{on "click" (set this.editTitle true)}}
            >
              {{@document.title}}
            </a>
          {{/if}}
        </span>
        <LinkTo
          @query={{hash document=undefined}}
          class="uk-icon-button"
          uk-icon="close"
          data-test-close
        />
      </span>

      <span class="document-meta">
        <p data-test-created-at>
          {{
            t
            "alexandria.document-details.created-at"
            date=(format-date @document.createdAt)
          }}
        </p>
        <p data-test-created-by-user>
          <FaIcon @icon="user" class="uk-margin-small-right" />
          {{@document.createdByUser}}
        </p>
        <p data-test-created-by-group>
          <FaIcon @icon="users" class="uk-margin-small-right" />
          {{@document.createdByGroup}}
        </p>
      </span>

      <div class="uk-flex">
        <div uk-form-custom class="uk-width-1-2 uk-margin-small-right">
          <input
            {{on "change" (perform this.uploadReplacement)}}
            data-test-replace
            type="file"
          >

          <button
            class="uk-width-1 uk-button uk-button-default uk-button-small"
            type="button"
            tabindex="-1"
          >
            {{~t "alexandria.document-details.replace"~}}
          </button>
        </div>

        <LinkTo @query={{hash document=undefined}} class="uk-width-1-2">
          <UkButton
            data-test-delete
            @size="small"
            @color="primary"
            class="uk-width-1 uk-button-danger"
            @loading={{this.delete.isRunning}}
            {{on "click" (perform this.delete)}}
          >
            {{t "alexandria.delete"}}
          </UkButton>
        </LinkTo>
      </div>

      <hr>

      <ul uk-accordion="multiple: true">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">
            {{~t "alexandria.document-details.version-history"~}}
          </a>
          <div class="uk-accordion-content">
            <ul class="uk-list uk-list-divider">
              {{#each (filter-by "type" "original" @document.files) as |file|}}
              <li data-test-file class="uk-flex">
                <span class="uk-margin-right">
                  {{moment-format file.createdAt "DD.MM.YYYY HH:mm"}}
                </span>
                <span class="uk-width-expand">
                  {{~file.createdByUser.fullName~}}
                </span>
                <a
                  uk-icon="download"
                  class="uk-icon-link"
                  href={{file.downloadUrl}}
                ></a>
              </li>
              {{/each}}
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <UkButton
    @size="large"
    @color="primary"
    data-test-download
    @loading={{this.download.isRunning}}
    {{on "click" (perform this.download)}}
  >
    {{t "alexandria.download"}}
  </UkButton>
</div>
