<tr
  class={{if @isSelected "document-list-item-selected" "document-list-item"}}
  data-test-document-list-item
  data-test-document-list-item-id={{@document.id}}
  tabindex="0"
  {{on "click" (fn @onClickDocument @document)}}
>
  <td class="uk-preserve-width">
    <FaIcon
      @icon="file-alt"
      @prefix="far"
      @size="1x"
      data-test-file-icon
      {{set-style color=@document.category.color}}
    />
  </td>
  <td>
    <span>{{@document.title}}</span>
    <div
      class="document-thumbnail"
      uk-dropdown="pos: right-bottom; offset: 15; delay-show: 400; delay-hide: 100;"
    >
      <img
        data-src="{{@document.thumbnail}}"
        alt="{{@document.title}}"
        uk-img
      />
    </div>
  </td>
  <td class="list-marks uk-flex">
    {{#each @document.marks as |mark|}}
      {{#if mark.active}}
        <div title={{mark.tooltip}}>
          <FaIcon @icon={{mark.icon}} />
        </div>
      {{/if}}
    {{/each}}
  </td>
  <td>
    {{format-date
      @document.modifiedAt
      month="2-digit"
      day="2-digit"
      year="numeric"
      hour="2-digit"
      minute="2-digit"
    }}
  </td>
  <td>
    {{await (resolve-user @document.createdByUser)}}
  </td>
  <td>
    {{await (resolve-group @document.createdByGroup)}}
  </td>
</tr>