{{yield this.showDialog}}

<UkModal
  @on-hide={{this.hideDialog}}
  @container={{if this.isTesting "#ember-testing" false}}
  @visible={{this.dialogVisible}} as |Modal|
>
  <Modal.header>
    <strong class="uk-modal-title">
      {{t "alexandria.document-delete-button.prompt.title"}}
    </strong>
  </Modal.header>

  <Modal.body>
    {{#if (gt @docsToDelete.length 1)}}
      <p>
        {{t
          "alexandria.document-delete-button.prompt.multiple_docs_message"
          nrOfDocs=@docsToDelete.length
        }}
      </p>
    {{else}}
      <p>
        {{t
          "alexandria.document-delete-button.prompt.message"
          title=@docsToDelete.title
        }}
      </p>
    {{/if}}
  </Modal.body>

  <Modal.footer>
    <div class="uk-flex uk-flex-between">
      <UkButton
        @label={{t "alexandria.document-delete-button.prompt.cancel"}}
        @on-click={{this.cancel}}
        data-test-delete-cancel
      />

      <UkButton
        @color="primary"
        @label={{t "alexandria.document-delete-button.prompt.confirm"}}
        @on-click={{perform this.delete}}
        @loading={{this.delete.isRunning}}
        data-test-delete-confirm
      />
    </div>
  </Modal.footer>
</UkModal>