<table
  class="uk-table uk-table-divider uk-table-striped uk-table-hover no-select document-list"
>
  <caption></caption>
  <thead>
    <tr>
      <th>
        <span hidden>{{t "alexandria.document-list.type"}}</span>
      </th>
      <th class="uk-table-expand">
        {{t "alexandria.document-details.document-title"}}
        <FaIcon
          @icon="sort"
          @prefix="fas"
          @size="1x"
          @class="uk-margin-small-left"
          role="button"
          data-test-sort-title
          {{on "click" (fn @setSort "title")}}
        />
      </th>
      <th>
        {{t "alexandria.document-list.modified-at"}}
        <FaIcon
          @icon="sort"
          @prefix="fas"
          @size="1x"
          @class="uk-margin-small-left"
          data-test-sort-title
          role="button"
          {{on "click" (fn @setSort "modifiedAt")}}
        />
      </th>
      <th>
        {{t "alexandria.document-list.created-by"}}
        <FaIcon
          @icon="sort"
          @prefix="fas"
          @size="1x"
          @class="uk-margin-small-left"
          data-test-sort-title
          role="button"
          {{on "click" (fn @setSort "createdByUser")}}
        />
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each @fetchedDocuments as |document|}}
      <DocumentListItem
        @document={{document}}
        @isSelected={{includes document.id (map-by "id" @selectedDocuments)}}
        @onClickDocument={{@onClickDocument}}
      />
    {{/each}}
  </tbody>
</table>