<ul class="document-list">
    <li class="document-list-header uk-link-reset">
      <a>
        <span>Icon</span>
      </a>
      <a>
        <span>Title</span>
      </a>
      <a>
        <span>Created</span>
      </a>
      <a>
        <span>Group</span>
      </a>
    </li>
  {{#each @fetchedDocuments as |document|}}
    <li>
      <LinkTo
          @query={{hash document=document.id}}
          class="uk-link-reset"
          data-test-document-link
      >
        <span class="list-item-icon">
          <FaIcon
            @icon="file-alt"
            @prefix="far"
            @size="1x"
            data-test-file-icon
            {{set-style color=document.category.color}}
          />
        </span>
        <span class="list-item-title">{{document.title}}</span>
        <span class="list-item-created">
          {{t
            "alexandria.document-details.created-at"
            date=(format-date document.createdAt)
          }}
        </span>
        <span class="list-item-group">{{document.createdByGroup}}</span>
      </LinkTo>
    </li>
  {{/each}}
</ul>
