<div class="uk-flex uk-overflow-hidden uk-height-max-1 uk-height-1-1">
  <div
    class="uk-width-1 uk-flex uk-flex-column uk-overflow-hidden uk-height-max-1"
  >
    <div class="uk-flex uk-flex-middle uk-padding-small">
      <DocumentUploadButton
        @category={{@filters.category}}
        @afterUpload={{perform this.fetchDocuments}}
        data-test-upload
      />

      <TagFilter
        @filters={{hash withDocumentsInCategory=@filters.category}}
        @selectedTags={{@filters.tags}}
        class="uk-margin-left"
      />
    </div>

    <div class="uk-padding-small uk-overflow-auto" ...attributes>
      <div
        class="document-grid"
        {{did-insert (perform this.fetchDocuments)}}
        {{did-insert this.setupGridAnimations}}
        {{did-update (perform this.fetchDocuments) @filters}}
      >
        {{#if this.fetchDocuments.isRunning}}
          {{#each (range 0 10) as |index|}}
            <div>
              <DocumentCard::Skeleton @animationDelay={{concat index "00ms"}} />
            </div>
          {{/each}}
        {{else}}
          {{#each this.documents as |document|}}
            {{! This wrapper div is needed for the uk-grid spacing between elements }}
            <div data-test-document-container>
              <LinkTo
                @query={{hash document=document.id}}
                class="uk-link-reset"
                data-test-document-link
                {{did-insert
                  this.scrollIntoView
                  (eq @selectedDocumentId document.id)
                }}
              >
                <DocumentCard
                  data-test-document
                  @document={{document}}
                  class={{if (eq @selectedDocumentId document.id) "selected"}}
                />
              </LinkTo>
            </div>
          {{else}}
            <div class="empty uk-margin-large-top" data-test-empty>
              <EmptyIcon />
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
  <DocumentDetails @document={{this.selectedDocument}} data-test-details />
</div>
