<div
  class="document-grid"
  data-test-document-grid
  ...attributes
  {{did-insert this.setupGridAnimations}}
>
  {{#if @loading}}
    {{#each (range 0 10) as |index|}}
      <div>
        <DocumentCard::Skeleton @animationDelay={{concat index "00ms"}} />
      </div>
    {{/each}}
  {{else}}
    {{#each @fetchedDocuments as |document|}}
      {{! This wrapper div is needed for the uk-grid spacing between elements }}
      <div data-test-document-container>
        <DocumentCard
          data-test-document
          @document={{document}}
          @isSelected={{includes document.id (map-by "id" @selectedDocuments)}}
          {{on "click" (fn @onClickDocument document)}}
          {{on "dblclick" (fn @onDoubleClickDocument document)}}
        />
      </div>
    {{else}}
      <div class="empty uk-margin-large-top" data-test-empty>
        <EmptyIcon />
      </div>
    {{/each}}
  {{/if}}
</div>