<tr {{on "click" (fn @onClickDocument @document)}} style="cursor: pointer;">
  <td>
    <FaIcon
      @icon="file-alt"
      @prefix="far"
      @size="1x"
      data-test-file-icon
      {{set-style color=@document.category.color}}
    />
  </td>
  <td class="uk-table-link">
    <LinkTo
      @query={{hash document=@document.id}}
      class="uk-link-reset"
      data-test-document-link
    >
      {{@document.title}}
    </LinkTo>
  </td>
  <td>
    {{t
      "alexandria.document-details.created-at"
      date=(format-date @document.createdAt)
    }}
  </td>
  <td>
    {{@document.createdByGroup}}
  </td>
</tr>