<div
  class="uk-background-muted uk-border-left uk-width-large uk-flex document-details
    {{if
      (or (not @selectedDocuments.length) (not this.sidePanel.open))
      'closed'
    }}"
  data-test-document-side-panel
  ...attributes
>
  <div class="uk-flex uk-flex-between uk-flex-column">
    <div class="uk-overflow-auto">
      <div class="uk-padding-small" data-test-document-side-panel-details>
        {{#if (eq @selectedDocuments.length 1)}}
          <SingleDocumentDetails
            @document={{object-at 0 @selectedDocuments}}
            @refreshDocumentList={{@refreshDocumentList}}
          />
        {{else}}
          <MultiDocumentDetails
            @selectedDocuments={{@selectedDocuments}}
            @refreshDocumentList={{@refreshDocumentList}}
            data-test-multi-doc-details
          />
        {{/if}}
      </div>
    </div>
    {{#if @selectedDocuments.length}}
      <DownloadButton @documents={{@selectedDocuments}} />
    {{/if}}
  </div>
</div>