<tr
  {{on "click" (fn @onClickDocument @document)}}
  class={{if @isSelected 'document-list-item-selected' 'document-list-item'}}
>
  <td>
    <FaIcon
      @icon="file-alt"
      @prefix="far"
      @size="1x"
      data-test-file-icon
      {{set-style color=@document.category.color}}
    />
  </td>
  <td>
    {{@document.title}}
  </td>
  <td>
    {{t
      "alexandria.document-details.created-at"
      date=(format-date @document.createdAt)
    }}
  </td>
  <td>
    {{@document.createdByGroup}}
  </td>
</tr>