<div class="document-marks">
  {{#each this.marks as |mark|}}
    <label
      title={{mark.tooltip}}
      class="{{if (and (not mark.activeOnNone) mark.activeOnAll) 'mark-active'}}
        {{if
          (not (or mark.activeOnAll mark.activeOnNone))
          'mark-mixed light-blue'
        }}"
    >
      <FaIcon @icon={{mark.icon}} />
      <Input
        @type="checkbox"
        hidden
        @checked={{mark.activeOnAll}}
        {{on "input" (fn this.toggleMark mark)}}
      />
    </label>
  {{/each}}
</div>