<div class="uk-position-relative" data-test-multi-doc-details>
  <button
    class="uk-icon-button uk-position-top-right"
    type="button"
    uk-icon="chevron-right"
    data-test-close
    {{on "click" this.sidePanel.toggle}}
  ></button>

  <div class="uk-margin uk-margin-remove-top uk-flex uk-flex-middle uk-text-large uk-text-break" data-test-title-container>
    <FaIcon
      @icon="file-alt"
      @prefix="far"
      class="uk-margin-small-right"
      data-test-title-icon
    />
    {{t
      "alexandria.multiple-documents-details.title"
      numDocs=@selectedDocuments.length
    }}
  </div>

  {{#if @selectedDocuments.length}}
    <MarkManager @documents={{@selectedDocuments}} class="uk-margin" />

    <div class="uk-margin">
      <DocumentDeleteButton
        @docsToDelete={{@selectedDocuments}}
        as |showDialog|
      >
        <UkButton
          data-test-delete
          @size="small"
          @color="danger"
          class="uk-width-1"
          {{on "click" showDialog}}
        >
          {{t "alexandria.delete"}}
        </UkButton>
      </DocumentDeleteButton>
    </div>

    <hr>

    <TagManager @documents={{@selectedDocuments}} />
  {{/if}}
</div>