<div class="uk-background-muted uk-padding-small uk-border-bottom uk-width-1">
  <form
    class="uk-background-default uk-search uk-search-default uk-width-1"
    {{on "submit" this.onSubmit}}
  >
    <span uk-search-icon></span>
    <input
      type="search"
      class="uk-search-input uk-background-default"
      placeholder={{t "alexandria.search"}}
      value={{@search}}
      aria-label={{t "alexandria.search"}}
      data-test-search-input
      {{on "input" this.updateSearch.perform}}
      {{on "focus" this.onFocus}}
      {{on "focusout" this.onFocusOut}}
    />
    <a
      class="uk-form-icon uk-form-icon-flip"
      href="#"
      {{uk-tooltip (t "alexandria.search-clear")}}
      {{on "click" this.resetSearch}}
      data-test-search-clear
    >
      <UkIcon @icon="close" />
    </a>
  </form>
</div>