<div class="uk-background-muted uk-padding-small uk-border-bottom uk-width-1">
  <form
    class="uk-background-default uk-search uk-search-default uk-width-1"
    {{on "submit" this.onSubmit}}
  >
    <span uk-search-icon />
    <input
      type="search"
      class="uk-search-input uk-background-default"
      placeholder={{t "alexandria.search"}}
      value={{@search}}
      aria-label={{t "alexandria.search"}}
      data-test-search-input
      {{on "input" this.updateSearch.perform}}
    />
  </form>
</div>