<div data-test-single-doc-details>
  <div class="uk-flex uk-flex-between uk-flex-bottom">
    <label class="uk-text-meta" for="alexandria-details-title">
      {{t "alexandria.document-details.document-title"}}
    </label>
    <button
      class="uk-icon-button uk-flex-none"
      type="button"
      uk-icon="chevron-right"
      data-test-close
      {{on "click" this.sidePanel.toggle}}
    ></button>
  </div>

  <span
    class="document-title uk-flex uk-flex-column uk-flex-between uk-margin-bottom uk-flex-top"
  >
    <span
      class="uk-flex uk-flex-top"
      data-test-title-container
      {{set-style cursor="text"}}
    >
      <span class="uk-flex-none">
        <FaIcon
          @icon="file-alt"
          @prefix="far"
          class="uk-margin-small-right"
          data-test-title-icon
          {{set-style color=@document.category.color}}
        />
      </span>
      {{#if this.editTitle}}
        <input
          class="uk-input"
          id="alexandria-details-title"
          type="text"
          placeholder={{t "alexandria.document-details.name-placeholder"}}
          value={{@document.title}}
          data-test-title-input
          {{on "input" this.updateDocumentTitle}}
        />
        <span class="uk-flex-none">
          <button
            class="uk-icon-button
              {{unless this.validTitle 'uk-disabled'}}
              cursor-pointer"
            uk-icon="icon: check"
            type="button"
            data-test-save
            {{on "click" (perform this.saveDocument)}}
          ></button>
          <button
            class="uk-icon-button cursor-pointer"
            uk-icon="icon: close"
            type="button"
            {{on "click" this.toggleEditTitle}}
          ></button>
        </span>
      {{else}}
        <span data-test-title>
          {{@document.title}}
        </span>
        <button
          class="uk-icon-button cursor-pointer uk-margin-small-left"
          uk-icon="icon: pencil"
          type="button"
          data-test-edit-title
          {{on "click" this.toggleEditTitle}}
        ></button>
      {{/if}}
    </span>
    <MarkManager @documents={{array @document}} />
  </span>

  <p class="uk-margin-remove-top">
    <label
      class="uk-text-meta uk-display-block"
      for="alexandria-details-description"
    >
      {{t "alexandria.document-details.document-description"}}
    </label>

    {{#if this.editDescription}}
      <textarea
        class="uk-textarea"
        id="alexandria-details-description"
        rows="10"
        {{on "input" this.updateDocumentDescription}}
      >
        {{~@document.description~}}
      </textarea>
      <div class="uk-text-right">
        <button
          class="uk-icon-button cursor-pointer"
          uk-icon="icon: check"
          type="button"
          {{on "click" (perform this.saveDocument)}}
        ></button>
        <button
          class="uk-icon-button cursor-pointer"
          uk-icon="icon: close"
          type="button"
          {{on "click" this.toggleEditDescription}}
        ></button>
      </div>
    {{else}}
      {{#if @document.description}}
        <span>
          {{@document.description}}
        </span>

        <button
          class="uk-icon-button cursor-pointer uk-margin-small-left"
          uk-icon="icon: pencil"
          type="button"
          {{on "click" this.toggleEditDescription}}
        ></button>
      {{else}}
        <button
          type="button"
          class="uk-button-default"
          {{on "click" this.toggleEditDescription}}
        >
          {{t "alexandria.document-details.add-description"}}
        </button>
      {{/if}}
    {{/if}}
  </p>

  <span class="document-meta">
    <p data-test-created-at>
      {{t
        "alexandria.document-details.created-at"
        date=(format-date @document.createdAt)
      }}
    </p>
    <p data-test-created-by-user>
      <FaIcon @icon="user" class="uk-margin-small-right" />
      {{await (resolve-user @document.createdByUser)}}
    </p>
    <p data-test-created-by-group>
      <FaIcon @icon="users" class="uk-margin-small-right" />
      {{await (resolve-group @document.createdByGroup)}}
    </p>
  </span>

  <div class="uk-flex">
    <div uk-form-custom class="uk-width-1-2 uk-margin-small-right">
      <input
        data-test-replace
        type="file"
        aria-label="File input"
        {{on "change" (perform this.uploadReplacement)}}
      />

      <button
        class="uk-width-1 uk-button uk-button-default uk-button-small"
        type="button"
        tabindex="-1"
      >
        {{~t "alexandria.document-details.replace"~}}
      </button>
    </div>

    <DocumentDeleteButton @docsToDelete={{@document}} as |showDialog|>
      <UkButton
        data-test-delete
        @size="small"
        @color="primary"
        class="uk-width-1-2 uk-button-danger"
        {{on "click" showDialog}}
      >
        {{t "alexandria.delete"}}
      </UkButton>
    </DocumentDeleteButton>
  </div>

  <hr />

  <ul uk-accordion="multiple: true">
    <li class="uk-open">
      <a class="uk-accordion-title" href="#">
        {{~t "alexandria.document-details.version-history"~}}
      </a>
      <div class="uk-accordion-content">
        <ul class="uk-list uk-list-divider">
          {{#each (filter-by "variant" "original" @document.files) as |file|}}
            <li data-test-file class="uk-flex" title={{file.name}}>
              <span class="uk-margin-right">
                {{format-date
                  file.createdAt
                  month="2-digit"
                  day="2-digit"
                  year="numeric"
                  hour="2-digit"
                  minute="2-digit"
                }}
              </span>
              <span class="uk-width-expand">
                {{~await (resolve-user file.createdByUser)~}}
              </span>
              <a
                uk-icon="download"
                class="uk-icon-link"
                data-test-file-download-link
                href={{file.downloadUrl}}
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="uk-invisible">{{t "alexandria.download"}}</span>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </li>
  </ul>

  <TagManager @documents={{array @document}} />
</div>