<div data-test-single-doc-details>
  <div class="uk-flex uk-flex-between uk-flex-bottom">
    <label class="uk-text-meta" for="alexandria-details-title">
      {{t "alexandria.document-details.document-title"}}
    </label>
    <button
      class="uk-icon-button uk-flex-none"
      type="button"
      uk-icon="chevron-right"
      data-test-close
      {{on "click" this.sidePanel.toggle}}
    ></button>
  </div>

  <span
    class="document-title uk-flex uk-flex-between uk-margin-bottom uk-flex-top"
  >
    <span
      class="uk-flex uk-flex-top"
      data-test-title-container
      {{set-style cursor="text"}}
    >
      <span class="uk-flex-none">
        <FaIcon
          @icon="file-alt"
          @prefix="far"
          class="uk-margin-small-right"
          data-test-title-icon
          {{set-style color=@document.category.color}}
        />
      </span>
      {{#if this.editTitle}}
        <input
          class="uk-input"
          id="alexandria-details-title"
          type="text"
          placeholder={{t "alexandria.document-details.name-placeholder"}}
          value={{@document.title}}
          data-test-title-input
          {{on "input" this.updateDocumentTitle}}
        />
        <span class="uk-flex-none">
          <a
            href="#"
            class="uk-icon-button {{
              unless this.validTitle "uk-disabled"
            }} cursor-pointer"
            uk-icon="icon: check"
            data-test-save
            {{on "click" (perform this.saveDocument)}}
          ></a>
          <a
            href="#"
            class="uk-icon-button  cursor-pointer"
            uk-icon="icon: close"
            {{on "click" this.toggleEditTitle}}
          ></a>
        </span>
      {{else}}
        <a
          href="#"
          class="uk-link-reset"
          data-test-title
          {{on "click" this.toggleEditTitle}}
        >
          {{@document.title}}
        </a>
      {{/if}}
    </span>
  </span>

  <p class="uk-margin-remove-top">
    <label
      class="uk-text-meta uk-display-block"
      for="alexandria-details-description"
    >
      {{t "alexandria.document-details.document-description"}}
    </label>

    {{#if this.editDescription}}
      <textarea
        class="uk-textarea"
        id="alexandria-details-description"
        rows="10"
        {{on "input" this.updateDocumentDescription}}
      >
        {{~@document.description~}}
      </textarea>
      <div class="uk-text-right">
        <a
          class="uk-icon-button cursor-pointer"
          href="#"
          uk-icon="icon: check"
          {{on "click" (perform this.saveDocument)}}
        ></a>
        <a
          href="#"
          class="uk-icon-button cursor-pointer"
          uk-icon="icon: close"
          {{on "click" this.toggleEditDescription}}
        ></a>
      </div>
    {{else}}
      {{#if @document.description}}
        <a
          class="uk-link-reset"
          href="#"
          {{!-- {{on "click" (set this.editDescription true)}} --}}
          {{on "click" this.toggleEditDescription}}
        >
          {{@document.description}}
        </a>
      {{else}}
        {{!-- <a href="#" {{on "click" (set this.editDescription true)}}> --}}
        <a href="#" {{on "click" this.toggleEditDescription}}>
          {{t "alexandria.document-details.add-description"}}
        </a>
      {{/if}}
    {{/if}}
  </p>

  <span class="document-meta">
    <p data-test-created-at>
      {{t
        "alexandria.document-details.created-at"
        date=(format-date @document.createdAt)
      }}
    </p>
    <p data-test-created-by-user>
      <FaIcon @icon="user" class="uk-margin-small-right" />
      {{await (resolve-user @document.createdByUser)}}
    </p>
    <p data-test-created-by-group>
      <FaIcon @icon="users" class="uk-margin-small-right" />
      {{await (resolve-group @document.createdByGroup)}}
    </p>
  </span>

  <div class="uk-flex">
    <div uk-form-custom class="uk-width-1-2 uk-margin-small-right">
      <input
        data-test-replace
        type="file"
        aria-label="File input"
        {{on "change" (perform this.uploadReplacement)}}
      />

      <button
        class="uk-width-1 uk-button uk-button-default uk-button-small"
        type="button"
        tabindex="-1"
      >
        {{~t "alexandria.document-details.replace"~}}
      </button>
    </div>

    <DocumentDeleteButton @docsToDelete={{@document}} as |showDialog|>
      <UkButton
        data-test-delete
        @size="small"
        @color="primary"
        class="uk-width-1-2 uk-button-danger"
        {{on "click" showDialog}}
      >
        {{t "alexandria.delete"}}
      </UkButton>
    </DocumentDeleteButton>
  </div>

  <hr />

  <ul uk-accordion="multiple: true">
    <li class="uk-open">
      <a class="uk-accordion-title" href="#">
        {{~t "alexandria.document-details.version-history"~}}
      </a>
      <div class="uk-accordion-content">
        <ul class="uk-list uk-list-divider">
          {{#each (filter-by "type" "original" @document.files) as |file|}}
            <li data-test-file class="uk-flex" title={{file.name}}>
              <span class="uk-margin-right">
                {{format-date file.createdAt month="2-digit" day="2-digit" year="numeric" hour="2-digit" minute="2-digit"}}
              </span>
              <span class="uk-width-expand">
                {{~await (resolve-user file.createdByUser)~}}
              </span>
              <a
                uk-icon="download"
                class="uk-icon-link"
                data-test-file-download-link
                href={{file.downloadUrl}}
              ></a>
            </li>
          {{/each}}
        </ul>
      </div>
    </li>
  </ul>

  <TagManager @documents={{array @document}} />
</div>