<div class="uk-position-relative" data-test-single-doc-details>
  <button
    class="uk-icon-button uk-position-top-right"
    type="button"
    uk-icon="chevron-right"
    data-test-close
    {{on "click" this.sidePanel.toggle}}
  ></button>

  <div class="uk-margin uk-margin-remove-top">
    <label class="uk-text-meta" for="alexandria-details-title">
      <button type="button" {{on "click" this.toggleEditTitle}} data-test-edit-title>
        {{t "alexandria.document-details.document-title"}}
        <UkIcon @icon={{if this.editTitle "close" "pencil"}} />
      </button>
    </label>

    <div class="uk-flex uk-flex-middle uk-text-large uk-text-break" data-test-title-container>
      <FaIcon
        @icon="file-alt"
        @prefix="far"
        class="uk-margin-small-right"
        data-test-title-icon
        {{set-style color=@document.category.color}}
      />
      {{#if this.editTitle}}
        <input
          class="uk-input uk-width-auto"
          id="alexandria-details-title"
          type="text"
          placeholder={{t "alexandria.document-details.name-placeholder"}}
          value={{@document.title}}
          data-test-title-input
          {{on "input" this.updateDocumentTitle}}
        />
        <button
          class="uk-icon-button uk-margin-small-left {{unless this.validTitle 'uk-disabled'}} cursor-pointer"
          uk-icon="icon: check"
          type="button"
          data-test-save
          {{on "click" (perform this.saveDocument)}}
        ></button>
      {{else}}
        <span data-test-title>{{@document.title}}</span>
      {{/if}}
    </div>
  </div>

  <MarkManager @documents={{array @document}} class="uk-margin" />

  <div class="uk-margin">
    <label
      class="uk-text-meta uk-display-block"
      for="alexandria-details-description"
    >
      <button type="button" {{on "click" this.toggleEditDescription}}>
        {{t "alexandria.document-details.document-description"}}
        <UkIcon @icon={{if this.editDescription "close" "pencil"}} />
      </button>
    </label>

    {{#if this.editDescription}}
      <textarea
        class="uk-textarea"
        id="alexandria-details-description"
        rows="10"
        {{on "input" this.updateDocumentDescription}}
      >
        {{~@document.description~}}
      </textarea>
      <div class="uk-text-right uk-margin-small-top">
        <button
          class="uk-icon-button cursor-pointer"
          uk-icon="icon: check"
          type="button"
          {{on "click" (perform this.saveDocument)}}
        ></button>
      </div>
    {{else}}
      {{#if @document.description}}
        <div class="document-description">{{@document.description}}</div>
      {{else}}
        <div class="uk-text-italic">{{t "alexandria.document-details.add-description"}}</div>
      {{/if}}
    {{/if}}
  </div>

  <div class="uk-margin">
    <p class="uk-text-meta uk-margin-remove">
      {{t "alexandria.document-details.metadata"}}
    </p>
    <ul class="uk-list uk-list-collapse uk-margin-remove">
      <li data-test-created-at>
        <FaIcon
          @icon="clock"
          @fixedWidth={{true}}
          class="uk-margin-small-right"
          {{uk-tooltip (t "alexandria.document-details.created-at") pos="left"}}
        />
        {{format-date
          @document.createdAt
          month="2-digit"
          day="2-digit"
          year="numeric"
          hour="2-digit"
          minute="2-digit"
        }}
      </li>
      <li data-test-created-by-user>
        <FaIcon
          @icon="user"
          @fixedWidth={{true}}
          class="uk-margin-small-right"
          {{uk-tooltip (t "alexandria.document-details.created-by-user") pos="left"}}
        />
        {{await (resolve-user @document.createdByUser)}}
      </li>
      <li data-test-created-by-group>
        <FaIcon
          @icon="users"
          @fixedWidth={{true}}
          class="uk-margin-small-right"
          {{uk-tooltip (t "alexandria.document-details.created-by-group") pos="left"}}
        />
        {{await (resolve-group @document.createdByGroup)}}
      </li>
    </ul>
  </div>

  <div class="uk-grid-small uk-child-width-1-2" uk-grid>
    <div uk-form-custom>
      <input
        data-test-replace
        type="file"
        aria-label="File input"
        {{on "change" (perform this.uploadReplacement)}}
      />

      <button
        class="uk-width-1 uk-button uk-button-default uk-button-small"
        type="button"
        tabindex="-1"
      >
        {{~t "alexandria.document-details.replace"~}}
      </button>
    </div>

    <div>
      <DocumentDeleteButton @docsToDelete={{@document}} as |showDialog|>
        <UkButton
          data-test-delete
          @size="small"
          @color="danger"
          class="uk-width-1"
          {{on "click" showDialog}}
        >
          {{t "alexandria.delete"}}
        </UkButton>
      </DocumentDeleteButton>
    </div>
  </div>

  <hr />

  <ul uk-accordion="multiple: true">
    <li class="uk-open">
      <a class="uk-accordion-title" href="#">
        {{~t "alexandria.document-details.version-history"~}}
      </a>
      <div class="uk-accordion-content">
        <ul class="uk-list uk-list-divider">
          {{#each (filter-by "variant" "original" @document.files) as |file|}}
            <li data-test-file class="uk-flex" title={{file.name}}>
              <span class="uk-margin-right">
                {{format-date
                  file.createdAt
                  month="2-digit"
                  day="2-digit"
                  year="numeric"
                  hour="2-digit"
                  minute="2-digit"
                }}
              </span>
              <span class="uk-width-expand">
                {{~await (resolve-user file.createdByUser)~}}
              </span>
              <a
                uk-icon="download"
                class="uk-icon-link"
                data-test-file-download-link
                href={{file.downloadUrl}}
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="uk-invisible">{{t "alexandria.download"}}</span>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </li>
  </ul>

  <TagManager @documents={{array @document}} />
</div>