<div
  class="uk-border uk-padding-small uk-width-expand"
  ...attributes
  {{did-insert (perform this.fetchTags)}}
  {{did-update (perform this.fetchTags) @filters}}
>
  {{#each this.tags as |tag|}}
    <a
      class="
      uk-badge
      {{if (contains tag.id this.selectedTagsArray) "uk-background-secondary"}}
      "
      href="javascript:void(0)"
      {{on "click" (fn this.toggleTag tag)}}
    >
      {{tag.name}}
    </a>
  {{else}}
    {{t "alexandria.tag-filter.empty"}}
  {{/each}}
</div>