<div
  class="uk-border uk-padding-small uk-width-expand"
  ...attributes
  {{did-insert this.onInsert}}
  {{did-update this.onInsert @category}}
>
  {{#each this.tags.searchTags as |tag|}}
    <button
      type="button"
      class="uk-badge uk-border-remove {{
        if (includes tag.id this.selectedTagsArray) "uk-background-secondary"
      }}"
      {{on "click" (fn this.toggleTag tag)}}
    >
      {{tag.name}}
    </button>
  {{else}}
    {{t "alexandria.tag-filter.empty"}}
  {{/each}}
</div>