<div
  class="uk-border uk-padding-small uk-width-expand uk-flex uk-flex-wrap uk-flex-middle"
  ...attributes
  {{did-insert this.onInsert}}
  {{did-update this.onInsert @category}}
>
  {{#each this.tags.searchTags as |tag|}}
    <button
      type="button"
      class="tag uk-text-small
        {{if
          (includes tag.id this.selectedTagsArray)
          'uk-background-secondary'
          'uk-background-primary'
        }}"
      {{on "click" (fn this.toggleTag tag)}}
      data-test-tag
      data-test-tag-id={{tag.id}}
      title={{tag.tooltip}}
    >
      {{#if tag.isMark}}
        <FaIcon @icon={{tag.icon}} />
      {{else}}
        {{tag.name}}
      {{/if}}
    </button>
  {{else}}
    {{t "alexandria.tag-filter.empty"}}
  {{/each}}
</div>