<div
  class="uk-border uk-padding-small uk-width-expand uk-flex uk-flex-wrap uk-flex-middle"
  ...attributes
>
  {{#if this.marks.marks.hasRan}}
    {{#each this.availableMarks.value as |mark|}}
      <button
        type="button"
        class="tag uk-text-small
          {{if (includes mark.id this.parsedSelected.marks) 'tag--active'}}"
        {{on "click" (fn this.toggle "marks" mark)}}
        data-test-mark
        data-test-mark-id={{mark.id}}
        title={{mark.name}}
      >
        <FaIcon @icon={{mark.icon}} @size="sm" @fixedWidth={{true}} />
      </button>
    {{/each}}
  {{/if}}
  {{#if (and this.availableTags.isFinished (not this.availableTags.value))}}
    <span class="uk-margin-small-left">{{t
        "alexandria.tag-filter.empty"
      }}</span>
  {{else}}
    {{#each this.availableTags.value as |tag|}}
      <button
        type="button"
        class="tag uk-text-small
          {{if (includes tag.id this.parsedSelected.tags) 'tag--active'}}"
        {{on "click" (fn this.toggle "tags" tag)}}
        data-test-tag
        data-test-tag-id={{tag.id}}
      >
        {{tag.name}}
      </button>
    {{/each}}
  {{/if}}
</div>