<div
  class="uk-border uk-padding-small uk-width-expand"
  ...attributes
  {{did-insert (perform this.fetchTags)}}
  {{did-update (perform this.fetchTags) @filters}}
>
  {{#each this.tags as |tag|}}
    <button
      type="button"
      class="uk-badge uk-border-remove {{
        if (contains tag.id this.selectedTagsArray) "uk-background-secondary"
      }}"
      {{on "click" (fn this.toggleTag tag)}}
    >
      {{tag.name}}
    </button>
  {{else}}
    {{t "alexandria.tag-filter.empty"}}
  {{/each}}
</div>