<div
  class="uk-border uk-padding-small uk-width-expand"
  ...attributes
  {{did-insert (perform this.fetchTags)}}
  {{did-update (perform this.fetchTags) @filters}}
>
  {{#each this.tags as |tag|}}
    <LinkTo @query={{hash tag=tag.id}}>
      class="uk-badge {{
        if (contains tag.id @selectedTags) "uk-background-secondary"
      }}"
      {{on "click" (fn this.toggleTag tag)}}
      >
      {{tag.name}}
    </LinkTo>
  {{else}}
    No tags...
  {{/each}}
</div>
