<div
  class="alexandria-container uk-flex uk-flex-1 uk-height-1-1 uk-border uk-background-default"
>
  <CategoryNav @selected={{this.category}} />
  <section
    class="uk-width-1 uk-flex uk-flex-column uk-overflow-hidden uk-height-max-1"
  >
    <Search @search={{this.search}} />

    <DocumentView
      @filters={{this.documentFilters}}
      @listView={{this.listView}}
      @sort={{this.sort}}
      class="uk-border-top"
    />
  </section>
</div>